.ui-widget.ui-widget-content {
        border: 1px solid #c5c5c5;
    padding-top: 12px;
    width: 714px !important;
    background-color: #fff !important;
    z-index: 9999;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    font-weight: bold !important;
    color: #ffffff !important;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: transparent !important;
    font-weight: normal !important;
    border: 0px !important;
    padding-left: 6px !important;
}
.ui-menu-item:hover{
    color: #555 !important;
    background: #DAA520 !important;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.ui-menu .ui-menu-item-wrapper{
    padding-left: 6px !important;
    text-underline: none !important;
    margin-bottom: 6px !important;
}
.ui-helper-hidden-accessible{
    display: none;
}
